{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block custom_css %}

<style>
    ul.menu {
        padding: 0;
        list-style: none;
        width: 100%;
        margin: 0;
        font-family: inherit;
        clear: both;
        display: table;
    }
    
    .list {
        font-size: 18px;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        line-height: 40px;
        vertical-align: sub;
        background: transparent;
        clear: both;
    }
    
    .list > a {
        text-decoration: none;
        color: #000;
        padding: 0px 10px;
        display: block;
        height: 100%;
        box-sizing: border-box;
        transition: 300ms all;
    }
    
    .list > a:hover {
        color: #0000007c !important;
        transition: 300ms all;
    }
    
    .items {
        height: 0px;
        overflow: hidden;
        margin-bottom: 3px;
        padding-left: 10px;
    }
    
    .items a {
        padding-left: 10px;
        color: #000;
    }
    
    .items a:hover {
        color: #0000007c !important;
        transition: 300ms all;
    }
    
    .active > .items {
        display: block;
        padding-left: 10px;
        height: auto;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: all 200ms;
        clear: both;
        float: left;
        width: 100%;
        margin-bottom: 3px;
    }
    
    .active > .items li {
        padding: 0px;
        list-style: none;
    }
    
    .active > .items li:last-child {
        border-color: transparent;
        padding-bottom: 0px;
    }
    
    .active > .items .active > .items {
        background-color: transparent;
    }
    .active > .items .active > .items button{
        position: absolute;
        right: 0px;
    }

    .list.active > a {
        color: #000;
        background-color: #8585851c;
        border-radius: 10px;
    }

    .deleteButton {
        width: 40px;
        height: 40px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
        background-color: transparent;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        display: inline-block
        transition: all 0.2s;
        position: relative;
        overflow: hidden;
      }
      .deleteButton svg {
        width: 44%;
      }
      .deleteButton:hover {
        background-color: rgb(237, 56, 56, 0.842);
      }
      .bin path {
        transition: all 0.2s;
      }
      .deleteButton:hover .bin path {
        fill: #fff;
      }
      .deleteButton:active {
        transform: scale(0.98);
      }

        .editBtn {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            border: none;
            background-color: transparent;
            display: inline-block
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: all 0.3s;
            margin-right: 42px;
          }
          .editBtn:hover {
            background-color: rgb(102, 102, 141);
          }

          .editBtn:hover::before {
            transform: scale(1);
          }
          
          .editBtn svg {
            width: 44%;
            fill: #b5bac1;
            z-index: 3;
            transition: all 0.2s;
            transform-origin: bottom;
          }
          .editBtn:hover svg {
            fill: white;
            transform: rotate(-15deg) translateX(5px);
          }
          .editBtn::after {
            content: "";
            width: 20px;
            height: 1.5px;
            position: absolute;
            bottom: 10px;
            left: -5px;
            background-color: white;
            border-radius: 8px;
            z-index: 2;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease-out;
          }
          .editBtn:hover::after {
            transform: scaleX(1);
            left: 0px;
            transform-origin: right;
          }
</style>
{% endblock custom_css %}

{% block add_button %}
<div style="display: flex; justify-content: flex-end;">
    {% url 'add_class' as add_class %}
    <a href="{{add_class}}" type="button" class="btn btn-success">+ Add Class</a> 
</div>
{% endblock add_button %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- /.card-header -->
                <table id="example2" class="table table-bordered table-hover">
                    <tbody>
                        <ul class="menu">
                            {% for year in years %}
                            <li class="list">
                                <a>Year {{ forloop.counter }}</a>
                                <ul class="items">
                                    <li class="list">
                                        <a>General</a>
                                        <ul class="items">
                                            {% for class_obj in year %}
                                                {% if 'AGSE' in class_obj.type %}
                                                    <a href="{% url 'manage_student' class_obj.full_class_name %}" style="cursor: pointer;"> {{ class_obj }} </a>
                                                    <button href="{% url 'edit_class' class_obj.id %}" class="editBtn">
                                                        <svg  height="1em" viewBox="0 0 512 512">
                                                          <path
                                                            d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
                                                          ></path>
                                                        </svg></button>
                                                    
                                                    <button href="{% url 'delete_class' class_obj.id %}" class="deleteButton">
                                                        <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            fill="none"
                                                            viewBox="0 0 50 59"
                                                            class="bin"
                                                        >
                                                            <path
                                                            fill="#B5BAC1"
                                                            d="M0 7.5C0 5.01472 2.01472 3 4.5 3H45.5C47.9853 3 50 5.01472 50 7.5V7.5C50 8.32843 49.3284 9 48.5 9H1.5C0.671571 9 0 8.32843 0 7.5V7.5Z"
                                                            ></path>
                                                            <path
                                                            fill="#B5BAC1"
                                                            d="M17 3C17 1.34315 18.3431 0 20 0H29.3125C30.9694 0 32.3125 1.34315 32.3125 3V3H17V3Z"
                                                            ></path>
                                                            <path
                                                            fill="#B5BAC1"
                                                            d="M2.18565 18.0974C2.08466 15.821 3.903 13.9202 6.18172 13.9202H43.8189C46.0976 13.9202 47.916 15.821 47.815 18.0975L46.1699 55.1775C46.0751 57.3155 44.314 59.0002 42.1739 59.0002H7.8268C5.68661 59.0002 3.92559 57.3155 3.83073 55.1775L2.18565 18.0974ZM18.0003 49.5402C16.6196 49.5402 15.5003 48.4209 15.5003 47.0402V24.9602C15.5003 23.5795 16.6196 22.4602 18.0003 22.4602C19.381 22.4602 20.5003 23.5795 20.5003 24.9602V47.0402C20.5003 48.4209 19.381 49.5402 18.0003 49.5402ZM29.5003 47.0402C29.5003 48.4209 30.6196 49.5402 32.0003 49.5402C33.381 49.5402 34.5003 48.4209 34.5003 47.0402V24.9602C34.5003 23.5795 33.381 22.4602 32.0003 22.4602C30.6196 22.4602 29.5003 23.5795 29.5003 24.9602V47.0402Z"
                                                            clip-rule="evenodd"
                                                            fill-rule="evenodd"
                                                            ></path>
                                                            <path fill="#B5BAC1" d="M2 13H48L47.6742 21.28H2.32031L2 13Z"></path>
                                                        </svg>
                                                        
                                                        <span class="tooltip">Delete</span>
                                                        </button> </br>
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    
                                    <li class="list">
                                        <a>International</a>
                                        <ul class="items">
                                            {% for class_obj in year %}
                                                {% if 'APIC' in class_obj.type %}
                                                    <a href="{% url 'manage_student' class_obj.full_class_name %}" style="cursor: pointer;"> {{ class_obj }} </a>
                                                    <button href="{% url 'edit_class' class_obj.id %}" class="editBtn">
                                                        <svg  height="1em" viewBox="0 0 512 512">
                                                        <path
                                                            d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
                                                        ></path>
                                                        </svg></button>
                                                    
                                                    <button href="{% url 'delete_class' class_obj.id %}" class="deleteButton">
                                                        <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            fill="none"
                                                            viewBox="0 0 50 59"
                                                            class="bin"
                                                        >
                                                            <path
                                                            fill="#B5BAC1"
                                                            d="M0 7.5C0 5.01472 2.01472 3 4.5 3H45.5C47.9853 3 50 5.01472 50 7.5V7.5C50 8.32843 49.3284 9 48.5 9H1.5C0.671571 9 0 8.32843 0 7.5V7.5Z"
                                                            ></path>
                                                            <path
                                                            fill="#B5BAC1"
                                                            d="M17 3C17 1.34315 18.3431 0 20 0H29.3125C30.9694 0 32.3125 1.34315 32.3125 3V3H17V3Z"
                                                            ></path>
                                                            <path
                                                            fill="#B5BAC1"
                                                            d="M2.18565 18.0974C2.08466 15.821 3.903 13.9202 6.18172 13.9202H43.8189C46.0976 13.9202 47.916 15.821 47.815 18.0975L46.1699 55.1775C46.0751 57.3155 44.314 59.0002 42.1739 59.0002H7.8268C5.68661 59.0002 3.92559 57.3155 3.83073 55.1775L2.18565 18.0974ZM18.0003 49.5402C16.6196 49.5402 15.5003 48.4209 15.5003 47.0402V24.9602C15.5003 23.5795 16.6196 22.4602 18.0003 22.4602C19.381 22.4602 20.5003 23.5795 20.5003 24.9602V47.0402C20.5003 48.4209 19.381 49.5402 18.0003 49.5402ZM29.5003 47.0402C29.5003 48.4209 30.6196 49.5402 32.0003 49.5402C33.381 49.5402 34.5003 48.4209 34.5003 47.0402V24.9602C34.5003 23.5795 33.381 22.4602 32.0003 22.4602C30.6196 22.4602 29.5003 23.5795 29.5003 24.9602V47.0402Z"
                                                            clip-rule="evenodd"
                                                            fill-rule="evenodd"
                                                            ></path>
                                                            <path fill="#B5BAC1" d="M2 13H48L47.6742 21.28H2.32031L2 13Z"></path>
                                                        </svg>
                                                        
                                                        <span class="tooltip">Delete</span>
                                                        </button></br>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </li>   
                        {% endfor %}
                        
                        </ul>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block custom_js%}
<script>
    const list = document.querySelectorAll('.list');

    function accordion(e) {
        e.stopPropagation();
        if (!e.target.closest('button')) { // Check if the clicked element or its ancestor is a button
            if (this.classList.contains('active')) {
                this.classList.remove('active');
            } else if (this.parentElement.parentElement.classList.contains('active')) {
                this.classList.add('active');
            } else {
                this.classList.add('active');
            }
        }
    }

    function handleButtonClick(e) {
        e.stopPropagation();
        window.location.href = this.getAttribute('href'); // Navigate to the button's href link
    }

    for (i = 0; i < list.length; i++) {
        list[i].addEventListener('click', accordion);
        const buttons = list[i].querySelectorAll('button');
        buttons.forEach(button => button.addEventListener('click', handleButtonClick));
    }
</script>
{% endblock custom_js %}